<ion-header>
    <ion-toolbar color="danger">
        <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>

        <ion-title text-center>
          Плеер
        </ion-title>
      </ion-toolbar>
   
</ion-header>
<ion-content>
    <video id="player"></video>
</ion-content>