<ion-item class="tvshow" [class.tvshow_active]="isCurrent">
        <ion-label >
            <b>{{ tvshow.start | timePipe}}-{{ tvshow.stop | timePipe}} </b>{{ tvshow.title}}
            <ion-progress-bar *ngIf="isCurrent" color="secondary" [value]="progress"></ion-progress-bar>
        </ion-label>

        
    </ion-item>