<ion-item >
    <ion-label>
        <div class="channel">
            <ion-avatar>
            <img class="channel__logo" [src]="channel.logo" alt="">
        </ion-avatar>     
          <span class="channel__name"> {{channel.name}}</span> 
        </div>
         <div *ngIf = "tvshow" class="tvshow">
            <b>{{ tvshow.start| timePipe }}-{{ tvshow.stop | timePipe }} </b>{{ tvshow.title}}
            <ion-progress-bar  color="secondary" [value]="progress"></ion-progress-bar>
        </div> 
    </ion-label>
</ion-item>