.channel{
    display: flex
    &_logo{
     border-radius: 0;
    object-fit: contain;
    }
    &__name{
        display: inline-block;
        margin-left:10px;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 60%;
    }
}