<ion-app>
    <ion-menu side="start" menuId="main">
        <ion-header>
          <ion-toolbar color="primary">
            <ion-title>Главное меню</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-list (click)="closeMenu()">
            <ion-item routerLink="/home" routerLinkActive="item-active">Каналы</ion-item>
            <ion-item routerLink="/live"  routerLinkActive="item-active">Сейчас в эфире</ion-item>
            <ion-item routerLink="/about" routerLinkActive="item-active" >О приложении</ion-item>
            
          </ion-list>
        </ion-content>
      </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>
