<ion-header>
    <ion-toolbar color="warning">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
                Выбор даты
            </ion-title>
    </ion-toolbar>

   
</ion-header>

<ion-content>
    <date [date] = "item" *ngFor = "let item of uniqueDates" ></date>
    <not-found *ngIf=!isHaveData></not-found>
</ion-content>