<ion-item *ngIf="channel" (click) = "selectChannel()">
    <ion-avatar>
        <img class="channel-logo" [src]="channel.logo" alt="">
    </ion-avatar>
    <ion-label class="channel-name">
        {{ channel.name }}
    </ion-label>
</ion-item>