<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Каналы
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <ion-list>
    <ion-virtual-scroll [items]="channels" approxItemHeight="57px">
        <channel *virtualItem="let item" [channel] = "item"></channel>
      </ion-virtual-scroll>
   

 </ion-list>
 
</ion-content>
