<ion-header>
    <ion-toolbar color="secondary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Сейчас в эфире
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
  

        <ion-virtual-scroll *ngIf="isHaveData" [items]="channels" approxItemHeight="111px">
                <live-channel  *virtualItem="let item" [channel] = "item"></live-channel>
              </ion-virtual-scroll>
  

</ion-content>